<html>
<head>
    <title>To Vendendo - Como Funciona</title>
</head>
<body>
    <p>Estamos revendendo o que temos em nosso apartamento atualmente. Boa parte das coisas são semi-novas - a maioria delas temos a menos de 1 ano!</p>

    <ul>
        <li>Você escolhe as coisas que gosta e coloca no carrinho</li>
        <li>Você paga utilizando o PagSeguro ou transferência bancária (caso seja ruim alguma dessas duas opções, só falar com a gente)</li>
        <li>Pagamento confirmado, você pode combinar um horário com a gente pra retirar as suas mais novas aquisições!</li>
    </ul>

    <p>Nós não somos um site de e-commerce, como deve ter dado pra perceber. 😅  Por isso não fazemos entregas.</p>
</body>
</html>
